@import url('https://fonts.googleapis.com/css2?family=Exile&family=Smooch+Sans&display=swap');

.nomUser{
    font-size: 40px;
    margin: 30px;
}

.iconcuentaConfig{
    width: 20%;
    height: auto;
    background-color: rgb(193, 193, 193);
    padding: 30px;
    margin-left: 30px;
}

.navbar{
    background-color: rgba(41, 41, 41, 0.938);
}

.navbar-brand{
    text-transform: uppercase;
    font-family: "Exile", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.background{
    background-color: rgb(125, 123, 123);
    min-height: 100vh;
}

.principal {
    max-width: 1500px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    padding: 130px;
}

.datos{
    font-size: 25px;
    font-weight:600;
    margin: 100px 0 30px 30px;
}

.text-info{
    margin: 30px;
}