@import url('https://fonts.googleapis.com/css2?family=Exile&family=Smooch+Sans&display=swap');

html{
    margin: 0 auto;
    padding: 0;
}

.logo{
    width: 20%;
    margin: 15px;
    float: left;
}



.menuHamb{
    float: right;    
    width: 30%;
    height: auto;
    background-color: rgba(210, 210, 210, 0.501);
    padding: 10px;
    border-radius: 20px;
}

.usuario{
    display: flex;
    align-items: center;
    padding: 10px;
}

.nombre{
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

.iconocuenta{
    float: right;    
    width: 30%;
    height: auto;
    background-color: rgba(210, 210, 210, 0.501);
    padding: 10px;
    border-radius: 50px;
}

.navbar{
    background-color: #60676d;

}

.navbar-brand{
    text-transform: uppercase;
    font-family: "Exile", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.menu-lateral {
    position: fixed;
    top: 0;
    background-color: rgba(135, 135, 135, 0.938);
    right: -300px;
    width: 300px;
    height: 100%;
    transition: right 0.3s ease;
    padding: 20px;
  
}

.menu-lateral.abierto {
     right: 0;
}

.cerrar-menu {
    background: none;
    border: none;
    font-size: 2rem;
    color: #ffa5a5;
    float: right;
    cursor: pointer;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.menu-lateral ul li {
    margin: 20px 0;   
}

.menu-lateral ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #e1e1e1;
    font-weight: 600;
    font-family: "Smooch Sans", sans-serif;
}

.principal {
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
}

body{
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(233, 231, 231);
    margin: 0 auto;
    padding: 0%;
}

.destacados{
    margin: 80px 100px 0 100px;
    font-family: "Smooch Sans", sans-serif;
}

.categoria{
    font-size: 70px;
    margin: 10px;
    font-weight: bold;
}
.grid-juegos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
}

.juego{
    font-family: "Smooch Sans", sans-serif;
    border-radius: 10px;
    font-size: 35px;
    text-align: left;
    padding: 20px;
}

.juego img{
    display: block;
    width: 350px;
    height: 350px;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(246, 245, 245);
    padding: 60px;

}

.enlace-juego{
  text-decoration: none;
  color: inherit;
    
}

.enlace-juego:hover{
    text-decoration: none;
    color: inherit;
    background-color: lightgrey;
}


.tituloJuego{
    text-align: center;
    font-size: 40px;
    margin: 20px 0 30px 0;
}

.descripcion{
    text-align: center;
    font-size: 26px;
}



@media (max-width: 1300px) {
    .grid-juegos{
        grid-template-columns: 1fr 1fr;
    }

    .categoria{
        font-size: 65px;
    }

    .nomProd{
        font-size: 24px;
    }

    .precio{
        font-size: 22px;
    }
}

@media (max-width: 940px) {
    .grid-juegos{
        grid-template-columns: 1fr;
    }

    .categoria{
        font-size: 65px;
    }

    .juego{
        font-size: 25px;
    }

    .nomProd{
        font-size: 20px;
    }

    .etiqueta{
        font-size: 18px;
    }

    .precio{
        font-size: 20px;
    }

    .destacados{
        margin: 40px 10px;
    }
}
